@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
:root{
    --corBotao: #1e3885;
    --corBotaoHover: #334c99;
    --corBordaInput: #3a75b1;
    --corTextoBotao: #ffffff;
}

body{
    height: 100vh;
}

body, input, button{
    font-family: 'Stack Sans Headline', Arial, Helvetica, sans-serif;
}

.divEsquerda{
    background: url(../images/fundo2.jpg);
    background-position: 30%;
    background-size: 170%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.imgNota{
    width: 300px;
}

.divNotas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0;
    border-radius: 1em;
    border: 2px solid #8c8c8c97;
    gap: 10px;
    max-height: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
.divNotas::-webkit-scrollbar{
    display: none;  /* Older Safari and Chromium */
}

.divTextos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1, h2{
        text-align: center;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.fundo{
    background: url(../images/fundo.jpg);
    background-position: 100%;
    background-size: 80%;
    height: 100%;
}

h1{
    font-weight: 800;
    font-size: 2.8rem;
}

h2{
    font-weight: 300;
    font-size: 1.4rem;
}

input{
    padding: 5px 10px;
    border-radius: .3em;
    border: 2px solid var(--corBordaInput);
    font-weight: 300;
    outline: none;
}

.divInputEBotao{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.divFormENotas{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input, button{
    font-size: 1.1rem;
}

button{
    background: var(--corBotao);
    color: var(--corTextoBotao);
    border: none;
    border-radius: .3em;
    padding: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    background: var(--corBotaoHover);
}